{% load static humanize %}

{% if compare.init_naf.id != compare.naf.id %}
    <div class="msg-log">
        Aucune donnée de consommation n'a été trouvée pour {{ compare.init_naf.label }} (code NAF {{ compare.init_naf.id }})
        <br>
        pour compenser voici les données du code NAF parent !
        <br>
    </div>
{% endif %}
<div class="result-container">
    <div class="description">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <path class="fa-primary" d="M273.2 311.1C241.1 271.9 168 174.6 168 120C168 53.73 221.7 0 288 0C354.3 0 408 53.73 408 120C408 174.6 334.9 271.9 302.8 311.1C295.1 321.6 280.9 321.6 273.2 311.1V311.1zM288 152C310.1 152 328 134.1 328 112C328 89.91 310.1 72 288 72C265.9 72 248 89.91 248 112C248 134.1 265.9 152 288 152z" />
            <path class="fa-secondary" d="M416 503V200.4C419.5 193.5 422.7 186.7 425.6 179.9C426.1 178.6 426.6 177.4 427.1 176.1L543.1 129.7C558.9 123.4 576 135 576 152V422.8C576 432.6 570 441.4 560.9 445.1L416 503zM15.09 187.3L137.6 138.3C140 152.5 144.9 166.6 150.4 179.9C153.3 186.7 156.5 193.5 160 200.4V451.8L32.91 502.7C17.15 508.1 0 497.4 0 480.4V209.6C0 199.8 5.975 190.1 15.09 187.3H15.09zM384 504.3L191.1 449.4V255C212.5 286.3 234.3 314.6 248.2 331.1C268.7 357.6 307.3 357.6 327.8 331.1C341.7 314.6 363.5 286.3 384 255L384 504.3z" />
        </svg>
        {{ compare.epci_name|default:"EPCI inconnu" }}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path class="fa-primary" d="M232.5 5.167C247.4-1.722 264.6-1.722 279.5 5.167L498.1 106.2C506.6 110.1 512 118.6 512 127.1C512 137.3 506.6 145.8 498.1 149.8L279.5 250.8C264.6 257.7 247.4 257.7 232.5 250.8L13.93 149.8C5.438 145.8 0 137.3 0 127.1C0 118.6 5.437 110.1 13.93 106.2L232.5 5.167zM498.1 362.2C506.6 366.1 512 374.6 512 383.1C512 393.3 506.6 401.8 498.1 405.8L279.5 506.8C264.6 513.7 247.4 513.7 232.5 506.8L13.93 405.8C5.438 401.8 0 393.3 0 383.1C0 374.6 5.437 366.1 13.93 362.2L67.13 337.6L219.1 407.8C242.5 418.7 269.5 418.7 292.9 407.8L444.9 337.6L498.1 362.2z" />
            <path class="fa-secondary" d="M292.9 279.8L444.9 209.6L498.1 234.2C506.6 238.1 512 246.6 512 255.1C512 265.3 506.6 273.8 498.1 277.8L279.5 378.8C264.6 385.7 247.4 385.7 232.5 378.8L13.93 277.8C5.438 273.8 0 265.3 0 255.1C0 246.6 5.437 238.1 13.93 234.2L67.13 209.6L219.1 279.8C242.5 290.7 269.5 290.7 292.9 279.8V279.8z" />
        </svg>
        <div class="{% if compare.naf.description %} tooltip{% endif %}">
            {{ compare.naf.label|default:"Naf non renseigné" }}
            {% if compare.naf.id %}(NAF {{ compare.naf.id }}){% endif %}
            {% if compare.naf.description %}<span class="tooltiptext left">{{ compare.naf.description }}</span>{% endif %}
        </div>
    </div>
    <div class="result-content">
        <div class="conso_compare">
            <div class="title">Consommation annuelle totale</div>
            <div class="content">
                Pour {{ compare.nb_structure|default:0|intcomma }} structure{{ compare.nb_structure|default:0|pluralize }}
            </div>
            <div class="conso_detail">
                <div class="conso_item conso_result">{{ compare.conso_tot|floatformat:0|default:0|intcomma }} MWh</div>
            </div>
        </div>
        <hr>
        <div class="conso_compare">
            <div class="title">Consommation moyenne annuelle</div>
            <div class="content">
                <div>Pour une structure</div>
            </div>
            <div class="conso_detail">
                <div class="conso_item compar-1">
                    {% if compare.conso_moyenne > 10 %}
                        {{ compare.conso_moyenne|default:0|floatformat:0|intcomma }} MWh
                    {% else %}
                        {{ compare.conso_moyenne|default:0|floatformat:1|intcomma }} MWh
                    {% endif %}
                </div>
                <svg class="sep" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path d="M32 128H0v64H32 384h32V128H384 32zm0 192H0v64H32 384h32V320H384 32z" />
                </svg>
                <div class="conso_item">
                    <div class="items">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                            <path d="M511.8 287.6H576V240l-64-53.4V32H416v74.5L288.4 0 0 240v47.6H64.1V512H512.8l-1-224.4zM288 160a64 64 0 1 1 0 128 64 64 0 1 1 0-128zm80 160l32 96H176l32-96H368z" />
                        </svg>
                        <div class="tooltip">
                            {% if compare.nb_reference < 100 %}
                                {{ compare.nb_reference|default:0|floatformat:1 }}
                            {% else %}
                                {{ compare.nb_reference|default:0|floatformat:0|intcomma }}
                            {% endif %}
                            foyer{{ compare.nb_reference|pluralize }} *
                            <span class="tooltiptext">En moyenne, 1 foyer de 4 personnes consomme environ 10 MWh par an</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
