{% load static %}
<style></style>

<div class="title">Renseignez un code NAF ou un mot-clé pour connaître sa consommation !</div>
<div>Actuellement disponible uniquement pour Grenoble-Alpes-Métropole</div>
<div class="search_container">
    <input id="autoComplete"
           type="search"
           dir="ltr"
           spellcheck="false"
           autocorrect="off"
           autocomplete="off"
           autocapitalize="off">
    <button class="clear-button" id="clear-button" title="Effacer la recherche">X</button>
</div>
<script type="text/javascript" src="{% static 'js/autoComplete.js' %}"></script>
<div id="compare-results">{% include "inc/compare-result.html" %}</div>
