body {
    /* overflow: hidden; */
}

* {
    font-family: Verdana, sans-serif !important;
}

.ytick>text,
.gtitle,
.xtitle,
.cbtitle>text,
.slicetext>tspan,
.ycbcoloraxistick>text {
    fill: black !important;
}

.selector-labels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0 1rem 3rem;
}

.selector-labels,
.selector-labels label {
    font-size: 20px;
}

.selectors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0 2rem 3rem;
}

.selectors .Select-control,
.selectors .Select-menu-outer {
    width: 90%;
}

.gtitle {
    font-size: 18px !important;
}

.pielayer .slice,
#bar-plot g.draglayer,
canvas.mapboxgl-canvas {
    cursor: pointer !important;
}

.graph-container {
    display: grid;
    /* min-height: 1200px; */
}

.graphs {
    display: flex;
    width: 99vw;
}

.graphs2 {
    height: 600px;
}

.graphs1 {
    height: 500px;
}

.graphs>.dash-graph {
    width: 50%;
}

@media screen and (max-width: 1200px) {
    .graphs {
        display: grid;
    }

    .graphs>.dash-graph {
        width: 99vw;
    }
}