#main-navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
  background-color: rgb(217, 217, 217);
  min-height: 60px;
}
@media (max-width: 768px) {
  #main-navbar {
    flex-direction: column;
  }
}
#main-navbar a {
  font-size: 1.25;
  text-decoration: none;
  color: black;
}
#main-navbar a.logo {
  font-size: 1.5rem;
}

.search_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 2rem;
}
@media (max-width: 768px) {
  .search_container {
    flex-direction: column;
  }
}
.search_container .search_label {
  margin-inline: 15px;
  font-weight: unset;
  font-size: 2rem;
}
.search_container .autoComplete_wrapper input {
  width: 50rem;
  font-size: larger;
  color: #1f1818;
}
@media (max-width: 992px) {
  .search_container .autoComplete_wrapper input {
    max-width: 80%;
  }
}
.search_container .autoComplete_wrapper li[role=option] {
  display: flex;
  justify-content: space-between;
}
.search_container .autoComplete_wrapper li[role=option] .result_value {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.search_container .autoComplete_wrapper li[role=option] .result_category {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.6);
}
.search_container .clear-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  margin-left: 47rem;
  padding: 0.75rem;
  font-size: larger;
}
.search_container .header_result {
  margin-inline: 15px;
}

.about {
  padding-inline: 24px;
}
.about h2 {
  margin-block: 2rem;
}
.about table {
  width: 100%;
  margin-bottom: 2rem;
  border: 1px solid #880000;
  border-collapse: collapse;
}
.about table tr:nth-child(1) {
  border: 1px solid #880000;
}
.about table th {
  padding: 10px;
}
.about table td {
  padding: 10px;
  text-align: center;
  font-weight: 500;
}
.about table a {
  color: #880000;
  font-weight: bold;
}
.about .li-light.grid-fix p {
  display: grid;
  grid-template-columns: 25px 100px 1fr;
}
.about .li-light.grid-fix p::before {
  margin-right: 0.5rem;
}
.about .li-light p .name {
  font-weight: 700;
}
.about .li-light p .name::after {
  content: " : ";
}
.about .li-light p::before {
  display: inline-block;
  content: url("../img/circle-bolt.svg");
  color: #880000;
  height: 1rem;
  width: 1rem;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* Tooltip text */
}
.tooltip:hover {
  cursor: grab;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltip .tooltiptext {
  visibility: hidden;
  font-size: large;
  width: fit-content;
  background-color: rgb(231, 231, 68);
  color: #000;
  text-align: center;
  padding: 10px;
  border: solid 1px black;
  border-radius: 6px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  margin-left: -60px;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.comparatif-container {
  margin-top: 3rem;
  text-align: center;
  height: 100vh;
}
.comparatif-container > .title {
  font-size: 1.5rem;
  font-weight: bold;
}
.comparatif-container .msg-log {
  font-style: italic;
}
.comparatif-container .result-container {
  background-color: rgba(246, 246, 246, 0.5);
  margin-top: 3rem;
  padding-block: 5rem;
}
.comparatif-container .result-container .description {
  display: grid;
  gap: 1rem;
  grid-template-columns: 50px 1fr;
  font-size: 1.5rem;
  margin-left: 20%;
  text-align: start;
  width: fit-content;
}
@media screen and (max-width: 768px) {
  .comparatif-container .result-container .description {
    margin-left: 2rem;
  }
}
.comparatif-container .result-container .description svg {
  height: 2rem;
}
.comparatif-container .result-container .description svg .fa-primary {
  fill: #880000;
}
.comparatif-container .result-container .description svg .fa-secondary {
  opacity: 0.4;
}
.comparatif-container .result-container .result-content {
  margin-top: 3rem;
  display: grid;
  justify-content: center;
  grid-template-columns: auto 0% auto;
  padding-inline: 30px;
  gap: 50px;
  font-size: larger;
}
@media screen and (max-width: 768px) {
  .comparatif-container .result-container .result-content {
    grid-template-columns: auto;
  }
}
.comparatif-container .result-container .result-content .title {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
  text-align: start;
}
.comparatif-container .result-container .result-content .content {
  font-size: 2rem;
  padding-bottom: 2rem;
  text-align: start;
}
.comparatif-container .result-container .result-content .conso_item {
  padding: 3rem 1rem;
  font-size: 48px;
  width: fit-content;
  border: 2px solid #880000;
  border-radius: 2rem;
}
.comparatif-container .result-container .result-content .conso_item svg {
  height: 5rem;
  margin-top: -1rem;
}
.comparatif-container .result-container .result-content .conso_item .items {
  display: flex;
  gap: 1rem;
}
.comparatif-container .result-container .result-content .conso_detail {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
}
.comparatif-container .result-container .result-content .conso_detail .conso_result {
  font-weight: bold;
  border: 6px solid #880000;
}
.comparatif-container .result-container .result-content .conso_detail .sep {
  font-size: xx-large;
  padding: 3rem;
  height: 5rem;
}

.graph > div {
  padding-bottom: 50% !important;
}

hr.sep {
  margin-block: 3rem;
}

@font-face {
  font-family: "Verdana";
  src: url("../fonts/Verdana.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
body {
  min-height: 100vh;
  height: auto;
  font-family: Verdana, sans-serif;
  margin: 0;
}

footer {
  bottom: 0;
  width: 100%;
  min-height: 50px;
}

/*# sourceMappingURL=styles.css.map */
