.about {
    padding-inline: 24px;

    h2 {
        margin-block: 2rem;
    }

    table {
        width: 100%;
        margin-bottom: 2rem;
        border: 1px solid $color-secondary;
        border-collapse: collapse;

        tr:nth-child(1) {
            border: 1px solid $color-secondary;
        }

        th {
            padding: 10px;
        }

        td {
            padding: 10px;
            text-align: center;
            font-weight: 500;
        }

        a {
            color: $color-secondary;
            font-weight: bold;
        }
    }

    .li-light {
        &.grid-fix p {
            display: grid;
            grid-template-columns: 25px 100px 1fr;

            &::before {
                margin-right: 0.5rem;
            }
        }

        p {
            .name {
                font-weight: 700;

                &::after {
                    content: " : ";
                }
            }

            &::before {
                display: inline-block;
                content: url("../img/circle-bolt.svg");
                color: $color-secondary;
                height: 1rem;
                width: 1rem;
            }
        }

    }
}