.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;

    &:hover {
        cursor: grab;

        .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
    }

    /* Tooltip text */
    .tooltiptext {
        visibility: hidden;
        font-size: large;
        width: fit-content;
        background-color: rgb(231, 231, 68);
        color: #000;
        text-align: center;
        padding: 10px;
        border: solid 1px black;
        border-radius: 6px;

        /* Position the tooltip text */
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 0;
        margin-left: -60px;

        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 0.3s;
    }
}


.comparatif-container {
    margin-top: 3rem;
    text-align: center;
    height: 100vh;

    >.title {
        font-size: $size-m;
        font-weight: bold;
    }

    .msg-log {
        font-style: italic;
    }

    .result-container {
        background-color: rgba($color-primary, 0.5);
        margin-top: 3rem;
        padding-block: 5rem;

        .description {
            display: grid;
            gap: 1rem;
            grid-template-columns: 50px 1fr;
            font-size: $size-m;
            margin-left: 20%;

            @media screen and (max-width: $w-m) {
                margin-left: 2rem;
            }

            text-align: start;
            width: fit-content;

            svg {
                height: 2rem;

                .fa-primary {
                    fill: $color-secondary;
                }

                .fa-secondary {
                    opacity: .4;
                }
            }
        }

        .result-content {
            margin-top: 3rem;
            display: grid;
            justify-content: center;
            grid-template-columns: auto 0% auto;

            @media screen and (max-width: $w-m) {
                grid-template-columns: auto;
            }

            padding-inline: 30px;
            gap: 50px;
            font-size: larger;

            .title {
                font-size: $size-l;
                padding-bottom: .5rem;
                font-weight: bold;
                text-align: start;
            }

            .content {
                font-size: $size-l;
                padding-bottom: 2rem;
                text-align: start;
            }

            .conso_item {
                padding: 3rem 1rem;
                font-size: 48px;
                width: fit-content;
                border: 2px solid $color-secondary;
                border-radius: 2rem;

                svg {
                    height: 5rem;
                    margin-top: -1rem;
                }

                .items {
                    display: flex;
                    gap: 1rem;
                }
            }

            .conso_detail {
                display: flex;
                gap: 10px;
                margin-bottom: 1rem;

                .conso_result {
                    font-weight: bold;
                    border: 6px solid $color-secondary;
                }

                .sep {
                    font-size: xx-large;
                    padding: 3rem;
                    height: 5rem;
                }
            }
        }
    }
}