#main-navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
    background-color: rgb(217, 217, 217);
    min-height: 60px;

    @media (max-width: $w-m) {
        flex-direction: column;
    }

    a {
        font-size: 1.25;
        text-decoration: none;
        color: $color-tertiary;

        &.logo {
            font-size: 1.5rem;
        }
    }
}