.search_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 2rem;

    @media (max-width: $w-m) {
        flex-direction: column;
    }

    .search_label {
        margin-inline: 15px;
        font-weight: unset;
        font-size: 2rem;
    }

    .autoComplete_wrapper {
        input {
            width: 50rem;
            font-size: larger;
            color: rgba(rgb(31, 24, 24), 1.0);

            @media (max-width: $w-l) {
                max-width: 80%;
            }
        }

        li[role=option] {
            display: flex;
            justify-content: space-between;

            .result_value {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            .result_category {
                display: flex;
                align-items: center;
                font-size: 13px;
                font-weight: 100;
                // text-transform: uppercase;
                color: rgba(0, 0, 0, .6);
            }
        }

    }

    .clear-button {
        // display: none;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        position: absolute;
        margin-left: 47rem;
        padding: 0.75rem;
        font-size: larger;
    }

    .header_result {
        margin-inline: 15px;
    }
}