{% extends "base.html" %}

{% block content %}
    <div class="about">
        <h1>À propos</h1>
        <h2>Contributeurs et contributrices</h2>
        <div class="li-light grid-fix">
            <p>
                <span class="name">Élise</span>data analyste et mascotte officielle
            </p>
            <p>
                <span class="name">Gabriel</span>ingérieur de données et sc-rappeur ingénieux
            </p>
            <p>
                <span class="name">Thibault</span>développeur et touriste idéaliste
            </p>
            <p>
                <span class="name">Olivier</span>développeur écologue en quête de sens
            </p>
            <p>
                <span class="name">Lucie</span>rédactrice en chef révolutionnaire
            </p>
            <p>
                <span class="name">Armelle</span>artiste tendre et mielleuse
            </p>
            <p>
                <span class="name">Maïlys</span>développeuse et aventurière des deux mondes
            </p>
            <p>
                <span class="name">Mathieu</span>père de famille attentionné
            </p>
            <p>
                <span class="name">Grégory</span>méthodologue informatique expert
            </p>
            <p>
                <span class="name">Vous</span>adorateur·trice de ce projet (on vous comprend)
            </p>
        </div>
        <h2>Jeux de données utilisés</h2>
        <table>
            <tr>
                <th>N°</th>
                <th>Fournisseur</th>
                <th>Lien</th>
                <th>Licence</th>
                <th>Date de modification</th>
                <th>Information complémentaire</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Ministère de la transition écologique et de la cohésion des territoires</td>
                <td>
                    <a href="https://www.statistiques.developpement-durable.gouv.fr/catalogue?page=datafile&datafileRid=1c28c62b-fd80-455b-9503-c61a6ed9bb31">Lien</a>
                </td>
                <td>Fr-lo</td>
                <td>01/02/2024</td>
                <td>Jeu des consommations - regroupement de données des fournisseurs d'énergie</td>
            </tr>
            <tr>
                <td>2</td>
                <td>OpenDataSoft</td>
                <td>
                    <a href="https://public.opendatasoft.com/explore/dataset/naf2008_5_niveaux/table/?flg=fr&sort=code_sous_classe">Lien</a>
                </td>
                <td>Etalab 2.0</td>
                <td>19/03/2018</td>
                <td>Code NAF ⇒ complétion du fichier des consommations</td>
            </tr>
            <tr>
                <td>3</td>
                <td>INSEE</td>
                <td>
                    <a href="https://recherche-naf.insee.fr/fr/statistiques/fichier/2120875/naf2008_liste_n1.xls">Niveau 1</a>
                    <span>;</span>
                    <a href="https://recherche-naf.insee.fr/fr/statistiques/fichier/2120875/naf2008_liste_n2.xls">Niveau 2</a>
                </td>
                <td>~ CC-BY-ND</td>
                <td>08/03/2021</td>
                <td>Code NAF et association ⇒ complétion du fichier des consommations</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Base nationale sur l'intercommunalité</td>
                <td>
                    <a href="https://www.banatic.interieur.gouv.fr/V5/cartographie/cartographie.php">Lien</a>
                </td>
                <td>CC-BY-NC</td>
                <td>01/01/2024</td>
                <td>Limites géographiques des EPCI</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Fabrique numérique des Ministères Sociaux</td>
                <td>
                    <a href="https://github.com/SocialGouv/codes-naf/blob/master/index.json">Lien</a>
                </td>
                <td>Non renseigné</td>
                <td>07/10/2023</td>
                <td>Association NAF et nom (utilisable pour la barre de recherche)</td>
            </tr>
            <tr>
                <td>6</td>
                <td>???</td>
                <td></td>
                <td>/</td>
                <td>30/03/2024</td>
                <td>Mot clé des codes NAF, fait maison</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Data.gouv</td>
                <td>
                    <a href="https://files.data.gouv.fr/geo-sirene/last/">Lien</a>
                </td>
                <td>Fr-lo 2.0</td>
                <td>29/03/2024</td>
                <td>SIRET des entreprises nationales, avec adresse</td>
            </tr>
            <tr>
                <td>8</td>
                <td>OpenDataSoft</td>
                <td>
                    <a href="https://public.opendatasoft.com/explore/dataset/georef-france-commune/export/">Lien</a>
                </td>
                <td>Etalab 2.0</td>
                <td>19/10/2023</td>
                <td>Association code postal et code EPCI</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Orcae</td>
                <td>
                    <a href="https://www.orcae-auvergne-rhone-alpes.fr/carte-interactive/territoire?tx_cimassociation_displayassociations%5Baction%5D=show&tx_cimassociation_displayassociations%5Bassociation%5D=850&tx_cimassociation_displayassociations%5Bcontroller%5D=Association&cHash=2b4546cef5c7765e54d27f3e155483d9">Lien</a>
                </td>
                <td>??</td>
                <td>2023</td>
                <td>Consommation du secteur résidentiel en Auvergne-Rhônes-Alpes</td>
            </tr>
        </table>
        <h2>Améliorations, Enrichissements et Croisements</h2>
        <div class="li-light">
            {% spaceless %}
                <p>
                    Les jeux de données n°1 a été enrichi par les jeux n°2 et n°3 afin de pouvoir associer les consommations électriques pour tous les niveaux de code NAF.
                </p>
                <p>
                    {% comment %} {% endcomment %}
                    Le jeu de données n°4 a été optimisé pour une utilisation web et ainsi fluidifier le service.
                </p>
                <p>
                    Le jeu n°5 est utilisé par la barre de recherche afin de l'associer aux labels des code NAF. Afin de faciliter la recherche, nous avons enrichi ce jeu de donnée avec des mots-clés (jeu de données n°6).
                </p>
                <p>
                    Le jeu n°7 est utilisé pour déterminer le nombre d'entreprises par code NAF. Pour connaître leur EPCI, nous croisons leur adresse avec le jeu n°8.
                </p>
            {% endspaceless %}
        </div>

        <h2>Licence</h2>
        <img class="license-image"
             alt="Creative Commons License"
             src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"
             width="88"
             height="31" />
        <a rel="license"
           href="https://creativecommons.org/licenses/by-nc-sa/4.0/"></a>
        <br />
        This work is licensed under a <a rel="license"
    href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International</a>.
    </div>
{% endblock content %}
