{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description"
              content="EnergieTracker, un outil de visualisation des consommations d'énergie." />
        <meta name="keywords" content="Énergie,Partage,Tracker">
        <link media="screen"
              rel="stylesheet"
              type="text/css"
              href="{% static 'css/styles.css' %}">
        <link media="screen" rel="icon" href="{% static 'img/favicon.svg' %}">

        {% block title %}
            <title>{{ page_title|default:"EnergieTracker" }}</title>
        {% endblock title %}
        {% block extracss %}
            <link rel="stylesheet"
                  type="text/css"
                  href="{% static 'js/libs/autoComplete/autoComplete.min.css' %}">
        {% endblock extracss %}
    </head>
    <body>
        {% block extrajs %}
            <script type="text/javascript"
                    src="{% static 'js/libs/autoComplete/autoComplete.min.js' %}"></script>

        {% endblock extrajs %}
        {% block navbar %}
            <div id="main-navbar">
                <a class="logo" href="{% url 'home' %}">
                    <svg width="253"
                         height="38"
                         viewBox="0 0 253 38"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M127.15 14.0594H121.75H115.81C115.364 14.0594 115 13.6934 115 13.2468V6.16253V1.42522C115 -0.312218 114.321 -0.485549 113.491 1.03977L108.25 10.6753L102.146 21.8948C101.79 22.5485 102.107 23.0838 102.85 23.0838H108.25C111.625 23.0838 114.19 23.0838 114.19 23.0838C114.635 23.0838 115 23.449 115 23.8956V30.9807V35.718C115 37.455 115.678 37.6284 116.508 36.1031L121.75 26.4679L127.854 15.2476C128.209 14.5939 127.893 14.0594 127.15 14.0594Z" fill="#800000" />
                        <path d="M1.89631 30V8.18182H16.598V11.9851H6.50923V17.1839H15.8416V20.9872H6.50923V26.1967H16.6406V30H1.89631ZM38.5147 8.18182V30H34.5304L25.0382 16.2678H24.8784V30H20.2654V8.18182H24.3137L33.7314 21.9034H33.9231V8.18182H38.5147ZM42.326 30V8.18182H57.0277V11.9851H46.9389V17.1839H56.2713V20.9872H46.9389V26.1967H57.0703V30H42.326ZM60.6951 30V8.18182H69.3031C70.9508 8.18182 72.3571 8.47656 73.5218 9.06605C74.6937 9.64844 75.585 10.4759 76.1958 11.5483C76.8137 12.6136 77.1227 13.8672 77.1227 15.3089C77.1227 16.7578 76.8102 18.0043 76.1852 19.0483C75.5602 20.0852 74.6547 20.8807 73.4686 21.4347C72.2896 21.9886 70.862 22.2656 69.1859 22.2656H63.4224V18.5582H68.4402C69.3208 18.5582 70.0524 18.4375 70.6348 18.196C71.2172 17.9545 71.6504 17.5923 71.9345 17.1094C72.2257 16.6264 72.3713 16.0263 72.3713 15.3089C72.3713 14.5845 72.2257 13.9737 71.9345 13.4766C71.6504 12.9794 71.2136 12.603 70.6241 12.3473C70.0417 12.0845 69.3066 11.9531 68.4189 11.9531H65.3081V30H60.6951ZM72.4778 20.071L77.9004 30H72.8081L67.5027 20.071H72.4778ZM94.85 15.2344C94.7008 14.7159 94.4913 14.2578 94.2214 13.8601C93.9515 13.4553 93.6213 13.1143 93.2306 12.8374C92.8471 12.5533 92.4068 12.3366 91.9096 12.1875C91.4196 12.0384 90.8762 11.9638 90.2797 11.9638C89.1646 11.9638 88.1845 12.2408 87.3393 12.7947C86.5012 13.3487 85.8478 14.1548 85.3791 15.2131C84.9103 16.2642 84.676 17.5497 84.676 19.0696C84.676 20.5895 84.9068 21.8821 85.3684 22.9474C85.8301 24.0128 86.4835 24.826 87.3287 25.3871C88.1738 25.9411 89.1717 26.218 90.3223 26.218C91.3663 26.218 92.2576 26.0334 92.9963 25.6641C93.742 25.2876 94.3102 24.7585 94.7008 24.0767C95.0985 23.3949 95.2974 22.5888 95.2974 21.6584L96.2349 21.7969H90.6099V18.3239H99.7399V21.0724C99.7399 22.9901 99.3351 24.6378 98.5254 26.0156C97.7157 27.3864 96.6007 28.4446 95.1802 29.1903C93.7598 29.929 92.1333 30.2983 90.301 30.2983C88.2555 30.2983 86.4586 29.8473 84.9103 28.9453C83.362 28.0362 82.1547 26.7472 81.2882 25.0781C80.4288 23.402 79.9991 21.4134 79.9991 19.1122C79.9991 17.3437 80.2548 15.767 80.7662 14.3821C81.2846 12.9901 82.0091 11.8111 82.9395 10.8452C83.8699 9.87926 84.9529 9.14418 86.1887 8.63991C87.4245 8.13565 88.7633 7.88352 90.2051 7.88352C91.4409 7.88352 92.5914 8.06463 93.6568 8.42685C94.7221 8.78196 95.6667 9.28622 96.4906 9.93963C97.3216 10.593 97.9998 11.3707 98.5254 12.2727C99.051 13.1676 99.3883 14.1548 99.5375 15.2344H94.85ZM130.978 30V8.18182H145.68V11.9851H135.591V17.1839H144.924V20.9872H135.591V26.1967H145.723V30H130.978ZM149.028 9.97159V8.18182H164.848V9.97159H157.934V30H155.942V9.97159H149.028ZM167.24 30V13.6364H169.083V16.1506H169.221C169.548 15.3267 170.116 14.6626 170.926 14.1584C171.743 13.647 172.666 13.3913 173.696 13.3913C173.852 13.3913 174.026 13.3949 174.218 13.402C174.41 13.4091 174.569 13.4162 174.697 13.4233V15.3516C174.612 15.3374 174.463 15.3161 174.25 15.2876C174.037 15.2592 173.806 15.245 173.557 15.245C172.705 15.245 171.945 15.4261 171.278 15.7884C170.617 16.1435 170.095 16.6371 169.711 17.2692C169.328 17.9013 169.136 18.6222 169.136 19.4318V30H167.24ZM182.504 30.3729C181.516 30.3729 180.614 30.1811 179.798 29.7976C178.981 29.407 178.331 28.8459 177.848 28.1143C177.365 27.3757 177.124 26.4808 177.124 25.4297C177.124 24.62 177.276 23.9382 177.582 23.3842C177.887 22.8303 178.32 22.3757 178.881 22.0206C179.442 21.6655 180.107 21.3849 180.874 21.179C181.641 20.973 182.486 20.8132 183.409 20.6996C184.325 20.5859 185.099 20.4865 185.732 20.4013C186.371 20.3161 186.857 20.1811 187.191 19.9964C187.525 19.8118 187.692 19.5135 187.692 19.1016V18.718C187.692 17.603 187.358 16.7259 186.69 16.0866C186.03 15.4403 185.078 15.1172 183.835 15.1172C182.656 15.1172 181.694 15.3764 180.948 15.8949C180.21 16.4134 179.691 17.0241 179.393 17.7273L177.592 17.0774C177.962 16.1825 178.473 15.4687 179.126 14.9361C179.78 14.3963 180.511 14.0092 181.321 13.7749C182.131 13.5334 182.951 13.4126 183.782 13.4126C184.407 13.4126 185.057 13.4943 185.732 13.6577C186.413 13.821 187.045 14.1051 187.628 14.5099C188.21 14.9077 188.683 15.4652 189.045 16.1825C189.407 16.8928 189.588 17.7947 189.588 18.8885V30H187.692V27.4112H187.575C187.347 27.8942 187.01 28.3629 186.562 28.8175C186.115 29.272 185.554 29.6449 184.879 29.9361C184.205 30.2273 183.413 30.3729 182.504 30.3729ZM182.759 28.6364C183.768 28.6364 184.641 28.4126 185.38 27.9652C186.119 27.5178 186.687 26.9247 187.085 26.1861C187.489 25.4403 187.692 24.62 187.692 23.7251V21.3601C187.55 21.495 187.312 21.6158 186.978 21.7223C186.651 21.8288 186.271 21.9247 185.838 22.0099C185.412 22.0881 184.986 22.1555 184.56 22.2124C184.134 22.2692 183.75 22.3189 183.409 22.3615C182.486 22.4751 181.697 22.6527 181.044 22.8942C180.391 23.1357 179.89 23.4695 179.542 23.8956C179.194 24.3146 179.02 24.8544 179.02 25.5149C179.02 26.5092 179.375 27.2798 180.085 27.8267C180.795 28.3665 181.687 28.6364 182.759 28.6364ZM201.025 30.3409C199.561 30.3409 198.287 29.9751 197.2 29.2436C196.12 28.5121 195.282 27.5107 194.686 26.2393C194.089 24.968 193.791 23.5192 193.791 21.8928C193.791 20.2521 194.093 18.7926 194.696 17.5142C195.307 16.2358 196.152 15.2344 197.232 14.5099C198.311 13.7784 199.565 13.4126 200.993 13.4126C202.086 13.4126 203.077 13.6257 203.965 14.0518C204.853 14.4709 205.584 15.0639 206.159 15.831C206.742 16.5909 207.108 17.4787 207.257 18.4943H205.339C205.14 17.571 204.661 16.7827 203.901 16.1293C203.148 15.4687 202.189 15.1385 201.025 15.1385C199.98 15.1385 199.057 15.4226 198.255 15.9908C197.452 16.5518 196.824 17.3366 196.369 18.3452C195.922 19.3466 195.698 20.5078 195.698 21.8288C195.698 23.157 195.918 24.3324 196.358 25.3551C196.799 26.3707 197.417 27.1662 198.212 27.7415C199.015 28.3168 199.952 28.6044 201.025 28.6044C201.749 28.6044 202.409 28.4695 203.006 28.1996C203.61 27.9226 204.114 27.532 204.519 27.0277C204.931 26.5234 205.208 25.9233 205.35 25.2273H207.267C207.125 26.2145 206.774 27.0952 206.213 27.8693C205.659 28.6364 204.938 29.2401 204.05 29.6804C203.169 30.1207 202.161 30.3409 201.025 30.3409ZM213.058 23.821L213.036 21.3388H213.462L221.133 13.6364H223.53L215.955 21.2216L215.785 21.2536L213.058 23.821ZM211.332 30V8.18182H213.228V30H211.332ZM221.527 30L214.879 21.5945L216.243 20.2841L223.956 30H221.527ZM233.035 30.3409C231.508 30.3409 230.187 29.9858 229.072 29.2756C227.957 28.5582 227.094 27.5675 226.483 26.3033C225.88 25.032 225.578 23.5689 225.578 21.9141C225.578 20.2663 225.88 18.8033 226.483 17.5249C227.094 16.2393 227.936 15.2344 229.008 14.5099C230.088 13.7784 231.334 13.4126 232.748 13.4126C233.635 13.4126 234.491 13.576 235.315 13.9027C236.139 14.2223 236.878 14.7159 237.531 15.3835C238.192 16.044 238.714 16.8786 239.097 17.8871C239.481 18.8885 239.672 20.0746 239.672 21.4453V22.3828H226.888V20.7102H237.733C237.733 19.6591 237.52 18.7145 237.094 17.8764C236.675 17.0312 236.089 16.3636 235.336 15.8736C234.591 15.3835 233.728 15.1385 232.748 15.1385C231.711 15.1385 230.798 15.4155 230.01 15.9695C229.221 16.5234 228.604 17.255 228.156 18.1641C227.716 19.0732 227.492 20.0675 227.485 21.147V22.1484C227.485 23.4482 227.709 24.5845 228.156 25.5575C228.611 26.5234 229.253 27.2727 230.084 27.8054C230.915 28.3381 231.899 28.6044 233.035 28.6044C233.809 28.6044 234.488 28.4837 235.07 28.2422C235.66 28.0007 236.153 27.6776 236.551 27.2727C236.956 26.8608 237.261 26.4098 237.467 25.9197L239.268 26.5057C239.019 27.1946 238.611 27.8303 238.042 28.4126C237.481 28.995 236.778 29.4638 235.933 29.8189C235.095 30.1669 234.129 30.3409 233.035 30.3409ZM243.851 30V13.6364H245.694V16.1506H245.833C246.159 15.3267 246.728 14.6626 247.537 14.1584C248.354 13.647 249.277 13.3913 250.307 13.3913C250.463 13.3913 250.637 13.3949 250.829 13.402C251.021 13.4091 251.181 13.4162 251.309 13.4233V15.3516C251.223 15.3374 251.074 15.3161 250.861 15.2876C250.648 15.2592 250.417 15.245 250.169 15.245C249.316 15.245 248.556 15.4261 247.889 15.7884C247.228 16.1435 246.706 16.6371 246.323 17.2692C245.939 17.9013 245.748 18.6222 245.748 19.4318V30H243.851Z" fill="black" />
                    </svg>
                </a>
                <h2 class="search_label">Visualisation de la consommation d'électricité par secteur</h2>
                <div>
                    <a href="{% url 'about' %}">À propos</a>
                </div>
            </div>
        {% endblock navbar %}
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        {% block footer %}
            <footer>
            </footer>
        {% endblock footer %}
    </body>
</html>
