{% extends "base.html" %}
{% load plotly_dash %}

{% block extracss %}
    {{ block.super }}
{% endblock extracss %}

{% block extrajs %}
    {{ block.super }}
{% endblock extrajs %}

{% block content %}
    <div class="graph">{% plotly_app name="map_epci" %}</div>
    <hr class="sep">
    <div class="comparatif-container">{% include "inc/compare.html" %}</div>
{% endblock content %}
