@import "./utils/variables";

@import "./components/nav_bar";
@import "./components/search_bar";

@import "./pages/about";
@import "./pages/compare";
@import "./pages/home";

@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

body {
    min-height: 100vh;
    height: auto;
    font-family: Verdana, sans-serif;
    margin: 0;
}

footer {
    bottom: 0;
    width: 100%;
    min-height: 50px;
}