$color-primary: #f6f6f6;
$color-secondary: #880000;
$color-tertiary: black;

$w-s: 600px;
$w-m: 768px;
$w-l: 992px;
$w-xl: 1200px;
$w-xxl: 1900px;

$size-xxs: 0.5rem;
$size-xs: 0.75rem;
$size-s: 1rem;
$size-m: 1.5rem;
$size-l: 2rem;
$size-xl: 3rem;
$size-xxl: 4rem;